<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fuyusakaiori.nep.im.service.core.message.mapper.INepChatGroupMessageHeaderMapper">

    <insert id="storeChatGroupMessageHeader">
        insert into `im-system`.im_message_group_header
        (message_receiver_group_id, message_sender_id, message_key, app_id, message_sequence, message_send_time, message_create_time)
        value
        (#{messageHeader.messageReceiverGroupId}, #{messageHeader.messageSenderId}, #{messageHeader.messageKey},
         #{appId}, #{messageHeader.messageSequence}, #{messageHeader.messageSendTime}, #{messageHeader.messageCreateTime})
    </insert>

    <select id="loadChatGroupMessageHeader" resultType="com.fuyusakaiori.nep.im.service.core.message.entity.NepChatGroupMessageHeader">
        select message_receiver_group_id, message_sender_id, message_key, message_sequence, message_send_time, message_create_time
        from `im-system`.im_message_group_header
        where app_id = #{appId} and message_receiver_group_id = #{groupId}
    </select>

</mapper>