<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fuyusakaiori.nep.im.service.core.friendship.mapper.INepFriendshipApplicationMapper">

    <resultMap id="applicationMap" type="com.fuyusakaiori.nep.im.service.core.friendship.entity.NepFriendshipApplication">
        <result property="applyReadStatus" column="friendship_apply_read_status"/>
        <result property="applyRemark" column="friendship_apply_remark"/>
        <result property="applyAdditionalInfo" column="friendship_apply_additional_info"/>
        <result property="applyApproveStatus" column="friendship_apply_approve_status"/>
        <result property="applySource" column="friendship_apply_source"/>
        <result property="createTime" column="friendship_apply_create_time"/>
        <result property="updateTime" column="friendship_apply_update_time"/>
    </resultMap>

    <insert id="addFriendshipApplication">

    </insert>

    <update id="approveFriendshipApplication">

    </update>

    <update id="readAllFriendshipApplication">

    </update>


    <select id="queryAllFriendshipApplication" resultMap="applicationMap" resultType="com.fuyusakaiori.nep.im.service.core.friendship.entity.NepFriendshipApplication">

    </select>

</mapper>