<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fuyusakaiori.nep.im.service.core.friendship.mapper.INepFriendshipGroupMemberMapper">

    <resultMap id="friendshipGroupMemberMap" type="java.util.HashMap">
        <id property="friendshipGroupId" column="friendship_group_id"/>
        <collection property="friendshipGroupMemberList" ofType="java.util.ArrayList">
            <id property="friendshipGroupMemberId" column="friendship_group_member_id"/>
        </collection>
    </resultMap>

    <!-- 向好友分组中添加成员 -->
    <insert id="addFriendshipGroupMember">
        insert into `im-system`.im_friendship_group_member
        (friendship_group_id, friendship_group_member_id, friendship_group_member_create_time, friendship_group_member_update_time, app_id)
        values
        <foreach collection="memberList" item="member" separator=",">
            (#{member.friendshipGroupId},#{member.friendshipGroupMemberId},#{createTime},#{updateTime},#{appId})
        </foreach>
    </insert>

    <!-- 将好友从分组中移除并且移入默认分组 -->
    <update id="removeFriendshipGroupMember">
        update `im-system`.im_friendship_group_member
        set friendship_group_id = 1, friendship_group_member_update_time = #{updateTime}
        where app_id = #{appId} and friendship_group_member_id = #{memberId}
    </update>

    <!-- 清空分组中的所有成员 -->
    <update id="clearFriendshipGroupMember">
        update `im-system`.im_friendship_group_member
        set friendship_group_id = 1, friendship_group_member_update_time = #{updateTime}
        where app_id = #{appId} and friendship_group_id = #{groupId}
    </update>

    <!-- 查询每个分组中的所有好友 -->
    <select id="queryAllFriendshipGroupMember" resultMap="friendshipGroupMemberMap">
        select friendship_group_id, friendship_group_member_id from `im-system`.im_friendship_group_member
        where app_id = #{appId} and friendship_group_id in
        <foreach collection="groupIdList" item="groupId" separator="," open="(" close=")">
            #{groupId}
        </foreach>
    </select>

</mapper>