<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fuyusakaiori.nep.im.service.core.friendship.mapper.INepFriendshipGroupMemberMapper">

    <!-- 向好友分组中添加成员 -->
    <insert id="addFriendshipGroupMember">
        insert into `im-system`.im_friendship_group_member
        (friendship_group_id, friendship_group_member_id, friendship_group_member_create_time, friendship_group_member_update_time, app_id)
        values
        <foreach collection="memberIdList" item="memberId" separator=",">
            (#{groupId},#{memberId},#{createTime},#{updateTime},#{appId})
        </foreach>
    </insert>

    <!-- 变更好友分组 -->
    <update id="moveFriendshipGroupMember">
        update `im-system`.im_friendship_group_member
        set friendship_group_id = #{groupId}, friendship_group_member_update_time = #{updateTime}
        where app_id = #{appId} and friendship_group_member_id in
        <foreach collection="memberIdList" item="memberId" separator="," open="(" close=")">
            #{memberId}
        </foreach>
    </update>

    <delete id="removeFriendshipGroupMember">
        delete from `im-system`.im_friendship_group_member
        where app_id = #{appId} and friendship_group_id = #{groupId} and friendship_group_member_id = #{memberId}
    </delete>

    <!-- 清空分组中的所有成员 -->
    <delete id="clearFriendshipGroupMember">
        delete from `im-system`.im_friendship_group_member
        where app_id = #{appId} and friendship_group_id = #{groupId}
    </delete>

    <select id="queryFriendshipGroupMemberByMemberIdList" resultType="_int">
        select friendship_group_member_id from `im-system`.im_friendship_group_member
        where app_id = #{appId} and friendship_group_member_id in
        <foreach collection="memberIdList" item="memberId" separator="," open="(" close=")">
            #{memberId}
        </foreach>
    </select>

    <!-- 查询每个分组中的所有好友 -->
    <select id="queryAllFriendshipGroupMember" resultType="com.fuyusakaiori.nep.im.service.core.friendship.entity.NepFriendshipGroupMember">
        select friendship_group_id, friendship_group_member_id from `im-system`.im_friendship_group_member
        where app_id = #{appId} and friendship_group_id in
        <foreach collection="groupIdList" item="groupId" separator="," open="(" close=")">
            #{groupId}
        </foreach>
    </select>

</mapper>