<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fuyusakaiori.nep.im.service.core.friendship.mapper.INepFriendshipApplicationMapper">

    <resultMap id="applicationMap" type="com.fuyusakaiori.nep.im.service.core.friendship.entity.NepFriendshipApplication">
        <result property="applyReadStatus" column="friendship_apply_read_status"/>
        <result property="applyRemark" column="friendship_apply_remark"/>
        <result property="applyAdditionalInfo" column="friendship_apply_additional_info"/>
        <result property="applyApproveStatus" column="friendship_apply_approve_status"/>
        <result property="applySource" column="friendship_apply_source"/>
        <result property="createTime" column="friendship_apply_create_time"/>
        <result property="updateTime" column="friendship_apply_update_time"/>
    </resultMap>

    <insert id="addFriendshipApplication">
        insert into `im-system`.im_friendship_application
        (friendship_from_id, friendship_to_id, app_id, friendship_apply_additional_info, friendship_apply_remark,
         friendship_apply_source, friendship_apply_create_time, friendship_apply_update_time)
        values
        (#{application.friendFromId},#{application.friendToId},#{appId},#{application.additionalInfo},#{application.remark},
         #{application.source},#{createTime},#{updateTime})
    </insert>

    <update id="approveFriendshipApplication">
        update `im-system`.im_friendship_application
        set friendship_apply_approve_status = #{status}, friendship_apply_update_time = #{updateTime}
        where app_id = #{appId} and friendship_apply_id = #{applyId}
    </update>

    <update id="readAllFriendshipApplication">
        update `im-system`.im_friendship_application
        set friendship_apply_read_status = 1, friendship_apply_update_time = #{updateTime}
        where app_id = #{appId} and friendship_apply_id in
        <foreach collection="applyIdList" item="applyId" open="(" close=")" separator=",">
            #{applyId}
        </foreach>
    </update>


    <select id="queryAllFriendshipApplication" resultMap="applicationMap" resultType="com.fuyusakaiori.nep.im.service.core.friendship.entity.NepFriendshipApplication">
        select friendship_apply_id, friendship_from_id, friendship_to_id,
               friendship_apply_read_status, friendship_apply_additional_info, friendship_apply_remark,
               friendship_apply_approve_status, friendship_apply_source
        from `im-system`.im_friendship_application
        where app_id = #{appId} and friendship_to_id = #{userId}
    </select>

</mapper>