<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fuyusakaiori.nep.im.service.core.friendship.mapper.INepFriendshipBlackMapper">

    <resultMap id="friendshipMap" type="com.fuyusakaiori.nep.im.service.core.friendship.entity.NepFriendship">
        <result column="friendship_remark" property="friendRemark"/>
        <result column="friendship_is_black" property="isBlack"/>
        <result column="friendship_create_time" property="createTime"/>
        <result column="friendship_update_time" property="updateTime"/>
    </resultMap>

    <!-- 拉黑好友 -->
    <update id="addFriendInBlackList">
        update `im-system`.im_friendship
        set friendship_is_black = 1, friendship_update_time = #{updateTime}
        where app_id = #{appId} and friendship_from_id = #{fromId} and friendship_to_id = #{toId}
    </update>

    <!-- 撤销好友拉黑 -->
    <update id="removeFriendInBlackList">
        update `im-system`.im_friendship
        set friendship_is_black = 0, friendship_update_time = #{updateTime}
        where app_id = #{appId} and friendship_from_id = #{fromId} and friendship_to_id = #{toId}
    </update>
    
    <!-- 单向校验好友之间的拉黑状态: 0 表示没有拉黑, 1 表拉黑 -->
    <select id="checkFriendInBlackList" resultType="_int" resultMap="friendshipMap">
        select if(friendship_is_black = 0, 0, 1) as status from `im-system`.im_friendship
        where app_id = #{appId} and friendship_from_id = #{fromId} and friendship_to_id = #{toId}
    </select>

    <!-- 双向校验好友之间的拉黑状态: 0.双向拉黑 1.没有拉黑 2.左到右单向拉黑 3.右到左单向拉黑 -->
    <select id="checkBiFriendInBlackList" resultType="_int" resultMap="friendshipMap">
        select (
        case
        when a.status = 1 and b.status = 1 then 0
        when a.status = 0 and b.status = 0 then 1
        when a.status = 1 and b.status = 0 then 2
        when a.status = 0 and b.status = 1 then 3
        end ) as status
        from
        (select if(friendship_is_black = 0, 0, 1) as status -- 校验从左到右的拉黑关系
         from `im-system`.im_friendship
         where app_id = #{appId} and friendship_from_id = #{fromId} and friendship_to_id = #{toId}) as a
        inner join
        (select if(friendship_is_black = 0, 0, 1) as status -- 校验从右到左的拉黑关系
         from `im-system`.im_friendship
         where app_id = #{appId} and friendship_from_id = #{toId} and friendship_to_id = #{fromId}) as b
    </select>

    <!-- 查询自己黑名单中的好友 -->
    <select id="queryAllFriendInBlackList" resultType="int" resultMap="friendshipMap">
        select friendship_to_id from `im-system`.im_friendship
        where friendship_is_black = 1;
    </select>

</mapper>